<div class="section">
  <div class="columns is-centered">
    <div class="column is-half-desktop is-four-fifths-tablet">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Customer Details
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline" *ngIf="slot">
              <div class="column is-3">
                <strong>First name:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.customer.firstName }}</span>
              </div>
              <div class="column is-3">
                <strong>Last name:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.customer.lastName }}</span>
              </div>
              <div class="column is-3">
                <strong>Phone:</strong>
              </div>
              <div class="column is-9">
                <a href="tel:{{ slot.customer.phone }}">{{
                  slot.customer.phone
                }}</a>
              </div>
              <div class="column is-3">
                <strong>Email:</strong>
              </div>
              <div class="column is-9">
                <a href="mailto:{{ slot.customer.email }}" target="_blank">{{
                  slot.customer.email
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Vehicle details
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline" *ngIf="slot">
              <div class="column is-3">
                <strong>Licence Nº:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.vehicle.licenseDetails }}</span>
              </div>
              <div class="column is-3">
                <strong>Engine type:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.vehicle.engineType }}</span>
              </div>
              <div class="column is-3">
                <strong>Maker:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.vehicle.maker }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Booking Details
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline" *ngIf="slot">
              <div class="column is-3">
                <strong>Date:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.date | date: 'medium' }}</span>
              </div>
              <div class="column is-3">
                <strong>Service type:</strong>
              </div>
              <div class="column is-9">
                <span>{{ slot.serviceType }}</span>
              </div>
              <div class="column is-3">
                <strong>Status:</strong>
              </div>
              <div class="column is-9">
                <div class="select" [ngClass]="{ 'is-loading': isUpdating }">
                  <select (change)="onChangeStatus($event.target.value)">
                    <option value="booked" [selected]="slot.status === 'booked'"
                      >Booked</option
                    >
                    <option
                      value="in service"
                      [selected]="slot.status === 'in service'"
                      >In service</option
                    >
                    <option value="fixed" [selected]="slot.status === 'fixed'"
                      >Fixed</option
                    >
                    <option
                      value="collected"
                      [selected]="slot.status === 'collected'"
                      >Collected</option
                    >
                    <option
                      value="unrepairable"
                      [selected]="slot.status === 'unrepairable'"
                      >Unrepairable</option
                    >
                  </select>
                </div>
              </div>
              <div class="column is-12">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <strong>Customer comments:</strong>
                        <br />
                        {{ slot.customerComments }}
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Additional expenses
          </p>
          <div class="card-header-icon" aria-label="more options">
            <button class="button is-info" (click)="onAddParts()">
              <span class="icon">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
              <span>Add</span>
            </button>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Part name</th>
                  <th>Price</th>
                  <th>Count</th>
                  <th class="has-text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let part of extraParts; let i = index"
                  [hidden]="countParts(part._id) === 0"
                >
                  <td>{{ part.name }}</td>
                  <td>{{ part.price | currency: 'EUR' }}</td>
                  <td>{{ countParts(part._id) }}</td>
                  <td class="actions-column">
                    <div class="buttons action-buttons is-hidden-touch">
                      <button
                        class="button is-danger is-small"
                        (click)="onRemovePart(part, i)"
                        [ngClass]="{
                          'is-loading': isRemovingPart[part._id]
                        }"
                      >
                        <span class="icon">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                        <span>
                          Remove
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="has-text-right">Total cost:</td>
                  <td class="has-text-right">
                    <strong>{{
                      calculateTotalCost() | currency: 'EUR'
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal is-active" *ngIf="isAddingParts">
        <div class="modal-background" (click)="isAddingParts = false"></div>
        <div class="modal-content">
          <div class="card">
            <header class="card-header">
              <div class="card-content find-input-wrapper">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Find parts"
                      (keyup)="onChangeFindPart($event.target.value)"
                    />
                  </div>
                </div>
              </div>
            </header>
            <div class="card-content parts-list">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Part name</th>
                    <th>Price</th>
                    <th>Count</th>
                    <th class="has-text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let part of extraParts; let i = index">
                    <td>{{ part.name }}</td>
                    <td>{{ part.price | currency: 'EUR' }}</td>
                    <td>{{ countParts(part._id) }}</td>
                    <td class="actions-column">
                      <div class="buttons action-buttons is-hidden-touch">
                        <!-- <button
                          class="button is-danger is-small"
                          (click)="onRemovePart(part, i)"
                          [ngClass]="{
                            'is-loading': isRemovingPart[part._id]
                          }"
                        >
                          <span class="icon">
                            <fa-icon [icon]="faTrash"></fa-icon>
                          </span>
                          <span>
                            Remove
                          </span>
                        </button> -->
                        <button
                          class="button is-primary is-small"
                          (click)="onAddPart(part, i)"
                          [ngClass]="{
                            'is-loading': isAddingPart[part._id]
                          }"
                        >
                          <span class="icon">
                            <fa-icon [icon]="faPlus"></fa-icon>
                          </span>
                          <span>
                            Add
                          </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer class="card-footer">
              <div class="card-content">
                <button class="button" (click)="isAddingParts = false">
                  <span class="icon">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </span>
                  <span>
                    Close
                  </span>
                </button>
              </div>
            </footer>
          </div>
        </div>
        <button
          class="modal-close is-large"
          aria-label="close"
          (click)="isAddingParts = false"
        ></button>
      </div>
    </div>
  </div>
</div>
