<div class="create-account section">
    <div class="columns">
        <div
            class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-three-fifths-tablet is-offset-one-fifth-tablet">

            <div class="box">
                <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">

                    <div class="field">
                        <label class="label">Vehicle Type</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" formControlName="vehicleType" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Licence</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" formControlName="licence" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Engine Type</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="" formControlName="engineType" />
                        </div>
                    </div>

                    <div class="field buttons-wrapper">
                        <div class="buttons is-pulled-right">
                            <button class="button is-primary" type="submit" [disabled]="vehicleForm.invalid">
                                Book Slot
                            </button>

                            <button class="button" formAction="reset">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>