<div class="section">

    <app-loading *ngIf="slots.length === 0" class="column is-full has-text-centered"></app-loading>

    <div class="columns" *ngIf="slots.length > 0">
        <div
            class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-three-fifths-tablet is-offset-one-fifth-tablet">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{dateName}}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content" *ngFor="let slot of slots">
                        <span [ngClass]="{'has-text-grey-light': slot.status !== 'free'}">
                            {{ slot.date.format('H:mm') }}
                        </span>
                        <span>
                            <button class="button is-small is-primary is-pulled-right" routerLink="/booking/slot"
                                [queryParams]="{ date: generateQueryParam(slot.date) }" [attr.disabled]="slot.status === 'free' ? null : ''">
                                Book Slot
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>