<div class="login section">
  <div class="columns">
    <div
      class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-three-fifths-tablet is-offset-one-fifth-tablet"
    >
      <div class="box">
        <form
          class="reactive-form"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input"
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{ 'is-danger': isInvalidControl('email') }"
                  />
                </div>
                <p *ngIf="isInvalidControl('email')" class="help is-danger">
                  This field is required/invalid
                </p>
              </div>
            </div>

            <div class="column is-half">
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{ 'is-danger': isInvalidControl('password') }"
                  />
                </div>
                <p *ngIf="isInvalidControl('password')" class="help is-danger">
                  This field is required/invalid
                </p>
              </div>
            </div>
          </div>
          <div class="field buttons-wrapper">
            <div class="columns is-pulled-right">
              <div class="buttons column">
                <button
                  class="button is-primary"
                  type="submit"
                  [ngClass]="{ 'is-loading': isLoading }"
                >
                  Login
                </button>

                <a class="button" [routerLink]="['/home']">Cancel</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal is-active" *ngIf="isRevokingSession">
    <div class="modal-background" (click)="isRevokingSession = false"></div>
    <div class="modal-content">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            A session is already active
          </p>
        </header>
        <div class="card-content parts-list">
          A session is already active in another device/browser. <br />
          Do you want to revoke the other session?
        </div>
        <footer class="card-footer">
          <div class="card-content">
            <div class="buttons is-pulled-right">
              <button class="button" (click)="noRevoke()">
                <span class="icon">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </span>
                <span>
                  No
                </span>
              </button>
              <button
                class="button is-primary"
                (click)="revokeSession()"
                [ngClass]="{ 'is-loading': revoking }"
              >
                <span class="icon">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span>
                  Yes
                </span>
              </button>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="isRevokingSession = false"
    ></button>
  </div>
</div>
