<div class="container">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <a class="navbar-item" routerLink="/home">
        <fa-icon class="garage-icon" [icon]="faWarehouse" size="lg"></fa-icon>
        Ger's Garage
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample" (click)="toggleNavbarMenu($event)">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div #navbarMenu id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': navbarMenuActive}">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/booking">
          Booking
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/booking">
              Booking
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end" *ngIf="!account">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/create-account">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" routerLink="/login">
              Log in
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end" *ngIf="account">
        <div class="navbar-item">
          <div class="account-name">
            <fa-icon [icon]="faUser"></fa-icon>
            {{ account.firstName + ' ' + account.lastName[0] + '.' }}
          </div>
          <div class="buttons">
            <button class="button is-light" (click)="logout()">
              Log out
            </button>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <router-outlet></router-outlet>
  <app-notification></app-notification>
</div>