<nav
  class="navbar is-hidden-print is-light is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item has-text-info" routerLink="/home">
      <fa-icon class="garage-icon" [icon]="faWarehouse" size="lg"></fa-icon>
      Ger's Garage
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleNavbarMenu($event)"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    #navbarMenu
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': navbarMenuActive }"
  >
    <div
      class="navbar-start"
      *ngIf="
        !this.account || (this.account && this.account.type === 'customer')
      "
    >
      <a class="navbar-item" routerLink="/booking">
        Booking
      </a>
      <a
        class="navbar-item"
        routerLink="/my-bookings"
        *ngIf="this.account && this.account.type === 'customer'"
      >
        My Bookings
      </a>
    </div>

    <div
      class="navbar-start"
      *ngIf="this.account && this.account.type === 'admin'"
    >
      <a class="navbar-item" routerLink="/admin/schedule">
        Schedule
      </a>
      <a class="navbar-item" routerLink="/admin/accounts">
        Accounts
      </a>
      <a class="navbar-item" routerLink="/admin/extra-parts">
        Extra Parts
      </a>
      <a
        class="navbar-item"
        routerLink="/my-bookings"
        *ngIf="this.account && this.account.type === 'customer'"
      >
        My Bookings
      </a>
    </div>

    <div class="navbar-end" *ngIf="!account">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/create-account">
            <strong>Sign up</strong>
          </a>
          <a class="button" routerLink="/login">
            Log in
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end" *ngIf="account">
      <div
        class="navbar-item"
        *ngIf="this.account && this.account.type === 'customer'"
      >
        <div class="account-name has-text-info">
          <fa-icon [icon]="faUser"></fa-icon>
          {{ account.firstName + ' ' + account.lastName[0] + '.' }}
        </div>
        <div class="buttons">
          <button
            class="button"
            [ngClass]="{ 'is-loading': isLoggingOut }"
            (click)="logout()"
          >
            Log out
          </button>
        </div>
      </div>

      <div
        class="navbar-item"
        *ngIf="this.account && this.account.type === 'admin'"
      >
        <div class="account-name has-text-info">
          <fa-icon [icon]="faUserCog"></fa-icon>
          {{ account.firstName + ' ' + account.lastName[0] + '.' }}
        </div>
        <div class="buttons">
          <button
            class="button"
            [ngClass]="{ 'is-loading': isLoggingOut }"
            (click)="logout()"
          >
            Log out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <app-notification></app-notification>
</div>
