<div class="section">
  <div class="columns is-centered">
    <div
      class="column is-four-fifths-tablet is-two-thirds-desktop is-half-fullhd"
    >
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Extra Parts
          </p>
          <span class="card-header-icon">
            <button class="button is-primary" (click)="onAddNew()">
              <span class="icon">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
              <span>
                Add
              </span>
            </button>
          </span>
        </header>
        <header class="card-header" *ngIf="isAddingNewPart">
          <div class="card-content">
            <form [formGroup]="partForm" (ngSubmit)="onSubmitPart()">
              <div class="columns">
                <div class="column is-8">
                  <div class="field">
                    <label class="label">Part name</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        placeholder="Part"
                        formControlName="name"
                      />
                    </div>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="field">
                    <label class="label">Price</label>
                    <div class="control">
                      <input
                        class="input"
                        type="number"
                        placeholder="Price"
                        formControlName="price"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttons is-right">
                <button class="button" (click)="onCancel()" type="reset">
                  <span class="icon">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </span>
                  <span>
                    Cancel
                  </span>
                </button>
                <button
                  class="button is-success"
                  [ngClass]="{ 'is-loading': isSaving }"
                  type="submit"
                  [disabled]="partForm.invalid"
                >
                  <span class="icon">
                    <fa-icon [icon]="faSave"></fa-icon>
                  </span>
                  <span>
                    Save
                  </span>
                </button>
              </div>
            </form>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table">
              <thead>
                <tr>
                  <th>Part name</th>
                  <th>Price</th>
                  <th class="has-text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let part of extraParts; let i = index">
                  <td>{{ part.name }}</td>
                  <td>{{ part.price | currency: 'EUR' }}</td>
                  <td class="actions-column">
                    <div class="buttons action-buttons is-hidden-touch">
                      <button
                        class="button is-danger is-small"
                        (click)="onRemovePart(part._id, i)"
                        [ngClass]="{ 'is-loading': isRemoving === part._id }"
                      >
                        <span class="icon">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                        <span>
                          Remove
                        </span>
                      </button>
                      <button class="button is-info is-small">
                        <span class="icon">
                          <fa-icon [icon]="faEdit"></fa-icon>
                        </span>
                        <span>Edit</span>
                      </button>
                    </div>

                    <div class="buttons action-buttons is-hidden-desktop">
                      <button
                        class="button is-danger is-small"
                        (click)="onRemovePart(part._id, i)"
                        [ngClass]="{ 'is-loading': isRemoving === part._id }"
                      >
                        <span>
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                      </button>
                      <button class="button is-info is-small">
                        <span>
                          <fa-icon [icon]="faEdit"></fa-icon>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
