/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/bulmaswatch/materia/bulmaswatch.scss';
@import "../node_modules/bulma/bulma.sass";

.buttons-wrapper {
  overflow: hidden;
}

a[disabled] {
  pointer-events: none;
}

@media print {
  .is-hidden-print {
    display: none !important;
  }
}

.has-text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-header {
  .card-content {
    width: 100%;
  }
}

.reactive-form {
  .field {
    position: relative;
    .help {
      position: absolute;
      right: 0;
    }
  }
}