.card {
  .card-header-icon {
      padding: 0 10px;
      .card-header-select-label {
          margin-right: 5px;
      }
  }
  .column {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .box {
      padding: 10px;
  }
}
