<div class="section">
  <div class="columns">
    <div class="column">
      <span class="title is-4">
        {{ date.toFormat('DDDD') }}
      </span>
      <button
        class="button is-pulled-right is-hidden-print"
        (click)="printSchedule()"
      >
        <span class="icon">
          <fa-icon [icon]="faPrint"></fa-icon>
        </span>
        <span>Print</span>
      </button>
    </div>
  </div>

  <app-loading
    *ngIf="!slots"
    class="column is-full has-text-centered"
  ></app-loading>

  <div id="schedule-list" class="columns is-multiline" *ngIf="slots">
    <div class="column is-half-tablet" *ngFor="let slot of slots">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ slot.date.toFormat('HH:mm') }}
          </p>
          <span class="card-header-icon">
            <button
              class="button is-primary is-hidden-print"
              routerLink="/admin/edit-slot"
              [queryParams]="{ slotId: slot._id }"
            >
              Edit
            </button>
          </span>
        </header>
        <div class="card-content">
          <div class="content">
            <h4 class="has-text-centered">
              {{ slot.serviceType }}
            </h4>
            <div class="columns is-multiline">
              <div class="column is-half-tablet">
                <strong>Name: </strong>
                <br />
                <span>{{
                  slot.customer.firstName +
                    ' ' +
                    slot.customer.lastName[0] +
                    '.'
                }}</span>
                <br />
                <strong>Phone: </strong>
                <br />
                <a href="tel:{{ slot.customer.phone }}">{{
                  slot.customer.phone
                }}</a>
                <br />
                <strong>Status: </strong>
                <br />
                <span>{{ slot.status | titlecase }}</span>
              </div>
              <div class="column is-half-tablet">
                <strong>License: </strong>
                <br />
                <span> {{ slot.vehicle.licenseDetails }}</span>
                <br />
                <strong>Engine type: </strong>
                <br />
                <span> {{ slot.vehicle.engineType }}</span>
                <br />
                <strong>Maker: </strong>
                <br />
                <span>{{ slot.vehicle.maker }}</span>
              </div>
              <div class="column is-full">
                <strong>Email: </strong>
                <br />
                <a href="mailto:{{ slot.customer.email }}" target="_blank">{{
                  slot.customer.email
                }}</a>
              </div>

              <div class="column">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <strong>Customer comments:</strong>
                        <br />
                        {{ slot.customerComments }}
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
