<div class="booking section">
    <div class="tabs is-boxed">
        <ul>
            <li *ngFor="let month of months; let monthIndex = index" (click)="setMonth(month)">
                <a>{{ month }}</a>
            </li>
        </ul>
    </div>
    <aside class="menu">
        <ul class="menu-list">
            <li *ngFor="let week of weeks; let i = index">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Week {{ i + 1 }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div *ngFor="let day of week; let dayIndex = index" class="content">
                            <p *ngIf="day !== 0">
                                {{ calendar.weekdays[dayIndex] + ' ' + day + 'th' }}
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
</div>